include sha3/hashblock.h
include	sha3/sph_blake.h
include	sha3/sph_bmw.h
include	sha3/sph_cubehash.h
include	sha3/sph_groestl.h
include	sha3/sph_keccak.h
include	sha3/sph_skein.h
include	sha3/sph_types.h
include Lyra2RE.h
include Lyra2.h
include Sponge.h
